/*@font face*/

@font-face{
    font-family: "Roboto";
    src: '/work/fonts/Roboto/Roboto-Regular.ttf';
}
@font-face{
  font-family: "BadScript";
  src:'/work/fonts/BadScript/BadScript-Regular.ttf';
}
